#logo_main {
     padding: 100px 500px 10px 500px;
     width: 350px;
}

#logo_min {
     padding: 20px;
     width: 150px;
}

#input_search_main {
     margin: 0 440px;
     width: 450px;
     height: 25px;
}

#input_search_min {
     margin-left: 20px;
     width: 450px;
     height: 25px;
}

#btn_search, #btn_lucky{
     width: 150px;
     height: 25px;
     border: none;
}

#btn_search {
     margin: 30px 40px 20px 500px;
}

#btn_search_min {
     width: 80px;
     height: 25px;
     border: none;
}

.title {
     font-family: 'Arial';
     font-size: 18px;
     color: #1A0DAB;
}

.displayLink {
     font-family: 'Arial';
     font-size: 14px;
     color: #006621;
}

.snippet {
     font-family: 'Arial';
     font-size: 13px;
     color: #545454;
}

.ficha {
     margin-left: 100px;
     margin-top: 20px;
     line-height: 10px;
     padding: 10px;
}

h1 {
     font-family: "Tahoma";
     font-size: 18px;
     color: #0057e7;
     margin-left: 100px;
}